body {
    background-color: rgb(0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; /* Defina um z-index para o body */
}

.modalDiv {
    width: 20rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Defina um z-index maior para o modal */

color: black;}

.modalDiv button {
    background-color: rgb(5, 43, 165);
    color:#fff;
}

.descModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalDiv input{
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 14rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;

}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
    z-index: 999; /* Defina um z-index entre o body e o modal */
}
